.hidden{
    opacity:0;
}
.access-form{
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 3;
    background-color: rgba(250, 235, 215, 0.131);
}
.access-form .form-container{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    overflow: hidden;
    position:relative;
}
.form-container>form{
    padding:20px;
}
